NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyB6_1m_Cpx4PowfpNq1nXwpLHm2RAOvy8w"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="casetaferia-1bd4f.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://casetaferia-1bd4f-default-rtdb.europe-west1.firebasedatabase.app"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="casetaferia-1bd4f"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="casetaferia-1bd4f.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="404103026231"
NEXT_PUBLIC_FIREBASE_APP_ID="1:404103026231:web:1f5bbcc26828f20969d1b2"
